{% extends "layout.html" %}

{% block title %}
Memoji
{% endblock %}

{% block main %}
<div class='header text-center my-5'>
  <h3>Please enter your username that we will use to the results</h3>
</div>
<div class="container my-5 mx-5">
  <form action="/username" method="post">
    <div class="form-group">
      <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
    </div>
    <button class="btn btn-primary" type="submit">Enter your username</button>
  </form>
</div>
{% endblock %}